<div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1>Client Details</h1>
    </div>
</div>
<div class="row" ng-hide="hideClient">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>{{client_details.first_name}} {{client_details.last_name}}</strong></div>
      <div class="panel-body">
					<div class="row">
						<div class="col-md-8">
							<address>
              <strong>Signed up on {{client_details.date_registration}}</strong><br>
              Account owner is {{client_details.first_name}} {{client_details.last_name}}<br>
              Trial ends on {{client_details.plan_end_date}} OR 
              <span style="color:rgb(33, 200, 33)" ng-show="client.is_in_trial == 1">Paid</span>
              <span ng-show="client.is_in_trial == 0">In trial</span><br><br>
              Extend trial by <input type="number" placeholder="number of days" ng-model="days_client_details.client_id"> Days <br>
              <button class="btn btn-small" ng-click="extendDays(client_details.client_id, days_client_details.client_id)">Extend</button>
          	</address>
						</div>
						<div class="col-md-4">
							<button class="btn btn-warning">Disable</button>
							<button class="btn btn-danger" ng:click="deleteClient(client_details.client_id)">Remove</button>
						</div>
					</div>
      </div>
    </div>
	</div>
</div>