<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h1>Brightpod Customer(s)</h1>
    </div>
</div>
<div class="row" ng-repeat="client in client_details">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>{{client.first_name}} {{client.last_name}}</strong></div>
      <div class="panel-body">
					<div class="row">
						<div class="col-md-8">
							<address>
              <strong>Signed up on {{client.date_registration}}</strong><br>
              Account owner is {{client.first_name}} {{client.last_name}}<br>
              Trial ends on {{client.plan_end_date}} OR 
              <span style="color:rgb(33, 200, 33)" ng-show="client.is_in_trial == 1">Paid</span>
              <span ng-show="client.is_in_trial == 0">In trial</span><br><br>
              Extend trial by <input type="number" placeholder="number of days"> Days <br>
              <button class="btn btn-small">Extend</button>

          	</address>
						</div>
						<div class="col-md-4">
							<button class="btn btn-warning">Disable</button>
							<button class="btn btn-danger" ng:click="deleteClient($index)">Remove</button>
						</div>
					</div>
      </div>
    </div>
	</div>
</div>